.wrapper {
    max-width: 800px;
    margin: auto;
}

.icon {
    width: 150px;
    height: 150px;

    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
}

/*************************
         HEADER
**************************/
header {
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #EEE;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header .avatar {
    margin-bottom: 20px;

    background: url('../images/me.png') center;
    background-size: cover;
}

header .name-and-title {
    display: flex;
    flex-direction: column;
}

/*TODO:font*/
header .name-and-title .name {
    text-align: center;

    font-family: Comic Sans MS;
    font-size: 40px;
}

header .name-and-title .title {
    text-align: center;

    font-style: italic;
    font-size: 16px;
}

/*************************
         MAIN
**************************/
main .columns {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
}

main .column {
    border: solid 1px #EEE;
    padding: 20px 0px;

    width: 230px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main .column .link {
    margin-top: 20px;
    font-size: 25px;

    color: #428bca;
}

main .column .link:link {
    text-decoration: none;
}

main .column .link:hover {
    text-decoration: underline;
}

main .column .link:visited {
    text-decoration: none;
}

main .column .github {
    background: url('../images/github.png') center;
    background-size: cover;
}

main .column .blog {
    background: url('../images/blog.png') center;
    background-size: cover;
}

main .column .cv {
    background: url('../images/cv.png') center;
    background-size: cover;
}

main .column .segmentfault {
    background: url('../images/segmentfault.png') center;
    background-size: cover;
}

main .column .gold {
    background: url('../images/gold.jpg') center;
    background-size: cover;
}

main .column .zhihu {
    background: url('../images/zhihu.png') center;
    background-size: cover;
}

main .column .qr_code {
    margin-top: 20px;

    width: 150px;
    height: 150px;
}

main .column .qr_github {
    background: url('../images/qr_github.jpg') center;
    background-size: cover;
}

main .column .qr_blog {
    background: url('../images/qr_blog.jpg') center;
    background-size: cover;
}

main .column .qr_cv {
    background: url('../images/qr_cv.jpg') center;
    background-size: cover;
}

main .column .qr_segmentfault {
    background: url('../images/qr_segmentfault.jpg') center;
    background-size: cover;
}

main .column .qr_gold {
    background: url('../images/qr_gold.jpg') center;
    background-size: cover;
}

main .column .qr_zhihu {
    background: url('../images/qr_zhihu.jpg') center;
    background-size: cover;
}

/*************************
         FOOTER
**************************/
/*footer {*/
/*margin-top: 20px;*/
/*border-top: solid 1px #EEE;*/
/*}*/